@import url('../css/custom.css');

/* Header */
.header {
  width: 100%;
  height: 80vh;
  max-height: 500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/9dee97ae4ffdea7eb9e44568a42eae32.jpeg');
  position: relative;
}

.header__top .logo {
  height: 40px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.2rem;
  gap: 1.6rem;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .header__top {
    flex-direction: column;
    justify-content: center;
  }
}

.header__top .menu {
  background: var(--color-white);
  border-radius: 22.54px;
  padding: 1.6rem 2.4rem;
}

.header__top .menu .items {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .header__top .menu .items {
    flex-direction: column;
    gap: 0.8rem;
  }
}

.header__top .menu .items li a {
  list-style: none;
  text-decoration: none;
  font-size: var(--font-size-sm);
  font-family: 'UniviaPro';
  line-height: 24.79px;
  color: var(--color-primary);
}

.header_floot {
  background: var(--color-primary);
  width: fit-content;
  color: var(--color-white);
  font-size: var(--font-size-hero);
  padding: 5.6rem 5.6rem 2.4rem 3.2rem;
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
  position: absolute;
  bottom: 0;
  right: 18%;
  font-family: 'UniviaPro';
  font-weight: 400;
  line-height: 50.49px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language-select {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #f25b00;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #f25b00;
  position: relative;
  font-family: 'UniviaPro';
}

.language-select img.globe-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.language-select select {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0);
  font-size: inherit;
  outline: none;
  cursor: pointer;
  position: absolute;
  width: 120%;
  height: 120%;
  left: 0;
  z-index: 2;
}

.language-select select option {
  color: #f25b00;
}

/* Section Promon */
.section-promon {
  padding-top: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));  
}
@media (max-width: 768px) {
  .section-promon {
   display: flex;
   flex-direction: column;
    margin-top: 2px;
  }
}

.section-promon__history {
  position: relative;
}


.section-promon__history .description {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.section-promon__history .description h3 {
  font-family: 'UniviaPro';
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 62.4px;
  text-align: left;
  color: var(--color-white);
  padding-left: 1rem;
}

.section-promon__history .description p {
  font-family: Lato;
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 24px;
  text-align: start;
  color: var(--color-white);
  background: var(--color-primary);
  padding: 0 1rem 1rem;
}

.section-promon__formed .wrapper-svg {
  padding-left: 2rem;
}

.section-promon__history img, .section-promon__formed svg {
  width: 100%;
  min-width: 450px;
}
@media (max-width: 992px) {
  .section-promon__history img  {
    min-width: initial;
  }

  .section-promon__formed svg  {
    min-width: 100%;
    width: 100%;
    height: 70vh; 
  }
}

.section-promon__formed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.section-promon__formed .wrapper-title {
  margin-top: 2rem;
  background: var(--color-primary);
  color: var(--color-white);
  width: fit-content;
  padding: 1rem 2rem;
  clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
  font-family: Univia Pro;
  font-size: var(--font-size-md);
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

/* Section Highlights */
.section-highlights .title {
  font-family: 'UniviaPro';
  font-size: var(--font-size-xxl);
  text-align: center;
  color: var(--color-primary);
}

.section-highlights .subtitle {
  margin-top: 0.6rem;
  font-family: 'UniviaPro';
  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: 400;
  line-height: 15.6px;
  text-align: center;
}

.section-highlights__list {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 20px;
}

.section-highlights__list .highlight {
  background: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.section-highlights__list .highlight:first-child {
  grid-template-rows: auto 350px;
}

.section-highlights__list .highlight:nth-child(2) {
  background: var(--color-primary);
}

.section-highlights__list .highlight:nth-child(3) {
  background: var(--color-blue);
}

.section-highlights__list .highlight .top {
  display: grid;
  grid-template-rows: 5.2rem auto;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 100%;
  padding: 3.2rem 1.2rem 0 1.2rem;
}

.section-highlights__list .highlight .top h3 {
  font-family: 'UniviaPro';
  font-size: var(--font-size-xl);
  font-weight: 400;
  text-align: center;
  color: var(--color-white);
}

.section-highlights__list .highlight .top ul {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 1rem;
}

.section-highlights__list .highlight .top .wrapper-icon {
  width: 43px;
  height: 43px;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-highlights__list .highlight:nth-child(1) .wrapper-icon {
  background: var(--color-secondary);
}
.section-highlights__list .highlight:nth-child(2) .wrapper-icon {
  background: var(--color-primary);
}
.section-highlights__list .highlight:nth-child(3) .wrapper-icon {
  background: var(--color-blue);
}

.section-highlights__list .highlight .top li {
  font-family: 'UniviaPro';
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 27.12px;
  display: grid;
  grid-template-columns: 45px 1fr;
  gap: 0.8rem;
  color: var(--color-white);
  position: relative;
}

.section-highlights__list .highlight .top li span {
  font-family: 'Lato';
  font-size: calc(var(--font-size-md) - 3px);
  font-weight: 400;
  margin-top: -6px;
  display: block;
}

.section-highlights__list .highlight .top li .line {
  background: var(--color-white);
  width: 1px;
  height: 100%;
  position: absolute;
  left: 21px;
  top: 45px;
}

.section-highlights__list .highlight .bottom img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Section Foundation */
.section-foundation .title {
  overflow: hidden;
}

.section-foundation .title {
  font-family: 'UniviaPro';
  font-size: var(--font-size-xxl);
  font-weight: 400;
  text-align: center;
  color: var(--color-primary);
}

.section-foundation__plan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  position: relative;
}
@media (max-width: 768px) {
  .section-foundation__plan {
    grid-template-columns: 1fr;
    background: var(--color-dark-blue);
  }
}

.section-foundation__plan img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: right;
  z-index: 2;
}

.section-foundation__plan .background-blue {
  position: absolute;
  background: var(--color-dark-blue);
  height: 197px;
  width: 100%;
}
@media (max-width: 768px) {
  .section-foundation__plan .background-blue {
    position: initial;
    border-top: 4px solid var(--color-white);
    height: auto;
    padding: 2rem 0;
  }
}

.section-foundation__plan .background-blue .title {
  font-family: 'UniviaPro';
  font-size: var(--font-size-xl);
  font-weight: 800;
  line-height: 26.4px;
  color: var(--color-dark-blue);
  position: absolute;
  top: -100%;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .section-foundation__plan .background-blue .title {
    position: static;
    color: var(--color-white);
    margin-bottom: 1rem;
  }
}

.section-foundation__plan .wrapper-info {
  position: absolute;
  left: 50%; 
  top: 25%;
  transform: translateX(25%); 
}
@media (max-width: 992px) {
  .section-foundation__plan .wrapper-info {
    transform: translateX(0%); 
  }
}
@media (max-width: 768px) {
  .section-foundation__plan .wrapper-info {
    position: initial;
    text-align: center;
  }
}

.section-foundation__plan .wrapper-info h4 {
  font-family: 'UniviaPro';
  font-size: var(--font-size-lg);
  font-weight: 400;
  line-height: 25.31px;
  color: var(--color-primary);
}

.section-foundation__plan .wrapper-info p {
  font-family: 'Lato';
  font-size: var(--font-size-md);
  color: var(--color-white);
}

.section-foundation__results-2023 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
}

.section-foundation__results-2023 .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.4rem 0;
  gap: 1rem;
}
@media (max-width: 768px) {
  .section-foundation__results-2023 .cards {
    flex-wrap: wrap;
  }
}

.section-foundation__results-2023 .title {
  font-family: 'UniviaPro';
  font-size: 22px;
  font-weight: 800;
  line-height: 26.4px;
  text-align: center;
  color: var(--color-teal);
}

.section-foundation__results-2023 .card {
  background-color: var(--color-teal-alt);
  padding: 0.8rem 1rem;
  border-radius: 10px;
  color: var(--color-white);
  max-width: fit-content;
  height: fit-content;
}

.section-foundation__results-2023 .card:last-child {
  min-height: 80px;
}

.section-foundation__results-2023 .card .text {
  font-size: var(--font-size-md);
  font-family: Lato;
  font-weight: 400;
  color: var(--color-white);
}

.section-foundation__results-2023 .card span {
  font-size: var(--font-size-lg);
  font-weight: 400;
  color: var(--color-dark-blue);
  font-family: 'UniviaPro';
  font-size: var(--font-size-xl);
  font-weight: 400;
  line-height: 25.31px;
}

.section-foundation__results-2023 .card span .money {
  font-size: var(--font-size-lg);
}

/* Section ESG */
.section-esg {
  display: grid;
  gap: 0.4rem;
}

.section-esg .title {
  font-family: 'UniviaPro';
  font-size: var(--font-size-xxl);
  font-weight: 400;
  text-align: center;
  color: var(--color-primary);
}

.section-esg .subtitle {
  font-family: 'UniviaPro';
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  color: var(--color-grey);
  margin-top: 1rem;
}

.section-esg__intro {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: system-ui;
  font-size: var(--font-size-lg);
  overflow: hidden;
  margin: 0 auto;
}

.section-esg .left, .section-esg .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-esg .left {
  position: relative;
}

.section-esg .left::after {
  content: '';
  position: absolute;
  background: var(--color-light-grey);
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  transform: skew(-25deg);
  z-index: 1;
}

.section-esg .left {
  z-index: 2;
}

.section-esg .left img {
  z-index: 2;
  height: 88px;
}
.section-esg__intro-2 .left img {
  z-index: 2;
  height: 72px;
}

.section-esg .right {
  position: relative;
  text-align: right;
}

.section-esg .right::before {
  content: '';
  position: absolute;
  background: var(--color-primary);
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  transform: skew(-25deg);
  z-index: 1;
}

.section-esg .right::before {
  content: '';
  position: absolute;
  background: var(--color-primary);
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  transform: skew(-25deg);
  z-index: 1;
}

.section-esg__intro-2 .right::before {
  background: var(--color-blue);
}

.section-esg .right {
  padding: 2rem;
}

.section-esg__intro .right ul {
  margin-left: 96px;
  z-index: 1 !important;
  min-width: 352px;
}

.section-esg__intro .right ul li {
  list-style: disc;
  font-family: 'Lato';
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 26px;
  color: var(--color-white);
  text-align: left;
}

span {
  z-index: 2;
}

.section-esg__main {
  padding: 0;
  background: linear-gradient(to left, var(--color-primary) 50%, var(--color-light-grey) 50%);
  overflow-x: hidden;
}

.section-esg__main .container {
  min-width: 1024px;
}

/* Section Esg Responsive */
.section-esg-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .section-esg {
    display: none;
  }

  .section-esg-mobile {
    display: initial;
  }
}

.section-esg-mobile {
  background-color: var(--color-white);
  padding: 20px 0;
}

.section-esg-mobile .title {
  font-family: 'UniviaPro';
  font-size: var(--font-size-xxl);
  font-weight: 400;
  text-align: center;
  color: var(--color-primary);
}

.section-esg-mobile .subtitle {
  font-family: 'UniviaPro';
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  color: var(--color-grey);
  margin-top: 1rem;
}

.section-esg-mobile__main {
  padding: 10px 10px;
}

.section-esg-mobile__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-light-grey);
  padding-top: 2.4rem;
  margin-top: 0.8rem;
}

.section-esg-mobile__intro .left {
  margin-bottom: 0.8rem;
}

.section-esg-mobile__intro .right {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.section-esg-mobile__intro .right ul {
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  padding: 1.6rem 3.2rem;
}

.section-esg-mobile__intro .right .secondary {
  background: var(--color-blue);
}

.section-esg-mobile__intro .right ul li {
  list-style: disc;
  font-family: 'Lato';
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 24px;
  color: var(--soft-pink);
  text-align: left;
}

.section-esg-mobile__intro img {
  text-align: center;
  height: 56px;
  margin: auto;
}

.section-esg-mobile__main:first-child {
  margin-bottom: 10px;
}

/* footer */
.footer { 
  background: var(--color-secondary);
  color: var(--color-white);
  padding: 3.2rem 0;
  display: flex;
  justify-content: center;
}

.footer__text {
  font-family: 'UniviaPro';
  font-size: var(--font-size-sm);
  font-weight: 800;
  line-height: 32px;
  text-align: center;
  display: block;
}

.footer__text-2 {
  font-family: 'UniviaPro';
  font-size: var(--font-size-md);
  line-height: 24px;
  text-align: center;
  text-decoration-style: solid;
  display: block;
}

.footer__text-2 span {
  color: var(--color-primary);
  text-transform: uppercase;
}
